
.more-btn{
  display: inline-block;
  margin: 10px;
  padding: 10px 18px;
  background: #0077b6;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  font-size: 14px;
  font-weight: bold;
  transition: 0.3s;
}

.more-btn:hover{
  background: #023e8a;
  transform: scale(1.05);
}
